@{
    ViewBag.Title = "Contact";
}

<p>
    Oční Optika - Řihošková Jana <br />
    Žerotínovo nám. 652<br />
    750 02 Přerov
</p>

<p>Otevírací doba:</p>

<p>Platí: 9. žáří 2020 - 31. června 2021</p>

<table width="100%">
    @*<tr>
        <td>Den</td>
        <td>dopoledne</td>
        <td>odpoledne</td>
    </tr>*@
    <tr>
        <td>Pondělí</td>
        <td>8:00 - 12:00</td>
        <td>13:00 - 17:00</td>
    </tr>
    <tr>
        <td>Úterý</td>
        <td>8:00 - 12:00</td>
        <td>13:00 - 17:00</td>
    </tr>
    <tr>
        <td>Středa</td>
        <td>8:00 - 12:00</td>
        <td>13:00 - 17:00</td>
    </tr>
    <tr>
        <td>Čtvrtek</td>
        <td>8:00 - 12:00</td>
        <td>13:00 - 17:00</td>
    </tr>
    <tr>
        <td>Pátek</td>
        <td>8:00 - 12:00</td>
        <td>13:00 - 17:00</td>
    </tr>
    <tr>
        <td>Sobota</td>
        <td>8:00 - 12:00</td>
        <td>Zavřeno</td>
    </tr>
    <tr>
        <td>Neděle</td>
        <td>Zavřeno</td>
        <td>Zavřeno</td>
    </tr>
</table>
